{% extends 'Main/base.html' %}

{% block content %}
<div class="content-section">
    <h1>{{ post.title }}</h1>
    <span class="text-muted">
        <a href="{% url 'author' post.author %}" class="author badge badge-primary">{{ post.author }}</a>
        <span class="date-posted">{{ post.date_posted }}</span>
    </span>
    <p class="content">{{ post.content }}</p>
    
    <!-- post_author is a Boolean that returns True or False depending on following condition: -->
    <!-- Is current user the author of the post? If so, he can Update or Delete the post.-->
    {% if post_author %} 
        <a href="{% url 'update' post.id %}"><button class="btn btn-outline-info">Update</button></a>
        <a href="{% url 'delete' post.id %}"><button class="btn btn-danger">Delete</button></a>
    {% endif %}
</div>
{% endblock content %}